
$text-field-shadow-top: rgba(0, 0, 0, .1);
$text-field-shadow-bottom: rgba(0, 0, 0, .07);

$input-text-field-background: White;
$display-text-field-background: #F5F5F5;

$border-normal: #D9D9D9;
$border-selected: #4D90FE;
$border-error: Red;
