
html, body, #root {
  width: 100%;
  height: 100%;

  font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
}

.app {
  position: relative;
}

main {
  max-width: 850px;
  margin: 0 auto;
  box-sizing: border-box;
}
