
.regex-example {
  display: flex;
  flex-flow: column;
  align-items: center;

  font-family: Verdana;
  font-size: 16px;

  textarea, .results-box {
    height: 130px;
    width: 450px;

    margin: 10px 0;
    padding: 8px 10px;
  }

  textarea {
    resize: none;
    border: 1px solid $border-normal;
  }

  .transfer-functions {
    text-align: center;

    img {
      width: auto;
      height: 80px;

      @include rotate(90deg);
    }

    div {
      position: absolute;
      transform: translate(-35%, -55px);

      button {

        background-color: $display-text-field-background;
        color: #444;
        font-weight: bold;

        &.transfer-function-active {
          box-shadow: inset 1px 1px 1px LightGray;
        }

        &:not(.transfer-function-active):hover {
          border: 1px solid Gray;
        }
      }

      input[type="text"] {
        display: inline;
        width: 60px;
      }

      > * {
        padding: 5px 8px;
        margin-left: -1px;
        border: 1px solid LightGray;

        font-family: Arial;
        font-size: 12px;

        &:first-child {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }

  }

  .results-box {
    background-color: Beige;
    border-radius: 5px;

    span {
      border-radius: 2px;

      background-color: LightCoral;
    }
  }
}
