.regex-example-container {
  width: 100%;
  display: flex;
  flex-flow: row;

  .regex-example {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;

    font-size: 16px;

    textarea, .results-box {
      height: 200px;
      width: 100%;

      padding: 8px 10px;

      resize: none;
      border: 1px solid $border-normal;

      background-color: white;
      font-size: 16px;
    }

    textarea {
      &:hover {
        box-shadow: inset 1px 1px 0 $text-field-shadow-top, inset 0 -1px 0 $text-field-shadow-bottom;
        background-color: $input-text-field-background;
        border: 1px solid $border-normal;
      }

      &:focus {
        box-shadow: inset 1px 1px 0 $text-field-shadow-top, inset 0 -1px 0 $text-field-shadow-bottom;
        background-color: $input-text-field-background;
        border: 1px solid $go-blue;
      }
    }

    .transfer-functions {
      margin: 9.5px 0;

      text-align: center;

      user-select: none;

      img {
        width: auto;
        height: 70px;


        @include rotate(90deg);
      }

      div {
        position: absolute;
        transform: translate(-40%, -55px);
        width: 100%;

        button {
          background-color: $display-text-field-background;
          color: #444;
          font-weight: bold;


          &.transfer-function-active {
            box-shadow: inset 1px 1px 1px LightGray;
          }

          &:not(.transfer-function-active):hover {
            border: 1px solid Gray;
          }
        }

        input {
          display: inline;
          width: 60px;
        }

        > * {
          padding: 5px 8px;
          margin-left: -1px;
          border: 1px solid LightGray;

          font-size: 12px;

          &:first-child {
            border-radius: 4px 0 0 4px;
          }

          &:last-child {
            border-radius: 0 4px 4px 0;
          }
        }
      }

    }


    .results-box {
      overflow-y: scroll;
      height: 250px;

      word-wrap: break-word;

      span {
        border-radius: 1px;

        background-color: Black;
        color: White;
      }
    }
  }
}
