
.translator {
  width: 100%;

  padding: 20px 0;

  display: flex;
  flex-flow: row;
}

.translator-input-section {
  position: relative;
  width: 100%;
  max-width: 425px;

  padding: 5px;

  box-sizing: border-box;

  header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    padding: 5px 2px;
    padding-right: 0;

    h2 {
      margin: 5px;

      &.help-header {
        margin-top: 35px;
      }
      &.glossary-header {
        margin-top: 55px;
      }

    }

    h2 .glossary-header {
      margin-top: 50px;
    }

    button {
      padding: 5px 8px;
      border: 1px solid LightGray;
      border-radius: 2px;

      font-size: 12px;
      font-weight: bold;
      background-color: $display-text-field-background;
      color: #444;
    }

    div {
      display: none;
    }
  }

  textarea, .help-text, .glossary {
    flex: 1;

    padding: 5px 8px;
    border: 1px solid $border-normal;

    height: 130px;
    width: 100%;

    background-color: $display-text-field-background;

    font-size: 14px;

    resize: none;

    &.code {
      font-family: Monaco, 'Lucida Console', monospace;
    }
  }

  .help-text, .glossary {
    height: 250px;
    overflow-y: scroll;
  }

  .column {
    max-width: 50%;
    width: 50%;
  }

  .row {
    display: flex;
  }

  .editable {
    background-color: $input-text-field-background;
    border: 1px solid $border-normal;

    &:hover, &:focus {
      box-shadow: inset 1px 1px 0 $text-field-shadow-top, inset 0 -1px 0 $text-field-shadow-bottom;
      border: 1px solid $go-blue;
    }
  }

  .error, .error:hover, .error:focus {
    border: 1px solid Red;
  }

  footer {
    position: absolute;

    top: 148px;

    display: flex;
    flex-flow: row;
    align-items: flex-start;

    padding: 5px;

    img.save {
      height: auto;
      width: 15px;

      margin-right: 5px;
    }

    img.save-click {
      display: none;
    }
  }
}

.pattern-box {
  padding: 5px 8px;
  border: 1px solid $border-normal;

  background-color: $display-text-field-background;
  max-height: 100px;
  overflow-y: scroll;

  &:hover {
    box-shadow: inset 1px 1px 0 $text-field-shadow-top, inset 0 -1px 0 $text-field-shadow-bottom;
    background-color: $input-text-field-background;
    border: 1px solid $border-normal;
  }
}

.pattern-item {
  display: block;
  font-size: 14px;
  width: 100%;

  &:hover {
    background-color: $display-text-field-background;
  }
}
