
.translator {
  width: 100%;

  padding: 20px 0;

  display: flex;
  flex-flow: row;
}

.translator-container {
  width: 100%;
  box-sizing: border-box;
}

.translator-input-section {
  width: 100%;

  padding: 5px;

  box-sizing: border-box;

  position: relative;

  h2 {
    font-family: Verdana;
    margin: 5px;
  }

  textarea {
    height: 130px;
    width: 100%;

    padding: 5px 8px;
    border: 1px solid $border-normal;

    background-color: $display-text-field-background;

    font-size: 14px;
    font-family: Monaco, monospace;

    resize: none;

    &:hover {
      box-shadow: inset 1px 1px 0 $text-field-shadow-top, inset 0 -1px 0 $text-field-shadow-bottom;
      background-color: $input-text-field-background;
      border: 1px solid $border-normal;
    }

    &:focus {
      box-shadow: inset 1px 1px 0 $text-field-shadow-top, inset 0 -1px 0 $text-field-shadow-bottom;
      background-color: $input-text-field-background;
      border: 1px solid $go-blue;
    }
  }
}
