
.translator {
  width: 100%;

  padding: 20px;

  display: flex;
  flex-flow: row;
}

.translator-input-section {
  width: 100%;

  padding: 5px;

  box-sizing: border-box;

  h2 {
    font-family: Verdana;
    margin: 5px;
  }

  textarea {
    height: 130px;
    width: 100%;

    padding: 5px 8px;

    background-color: #F5F5F5;

    font-size: 14px;
    font-family: Monaco, monospace;

    resize: none;

    &:hover {
      box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
      background-color: White;
      border: 1px solid #d9d9d9;
    }

    &:focus {
      box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
      background-color: White;
      border: 1px solid #4d90fe;
    }
  }
}
